#Preparação do ambiente

In [ ]:
#INSTALAÇÃO DA BIBLIOTECA PYSPARK
!pip install pyspark

In [ ]:
#INSTALAÇÃO DA BIBLIOTECA GOOGLE CLOUD STORAGE FILE SYSTEM
!pip install gcsfs

In [ ]:
#INSTALAÇÃO DO MONGODB
!pip install pymongo[srv]

In [ ]:
#MONGO
import pymongo
from pymongo import MongoClient

#IMPORTAR BIBLIOTECAS DO CLOUD STORAGE
from google.cloud import storage
import os

#IMPORTAR A BIBLIOTECA DO PANDAS
import pandas as pd

#IMPORTAR AS BIBLIOTECAS DO SPARK
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [ ]:
#IMPORTAR O DRIVE
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#CONFIGURAÇÂO CHAVE DE SEGURANÇA
serviceAccount = '/content/drive/MyDrive/Key/' #chave retirada
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

#Extração

In [ ]:
#CÓDIGOS DE ACESSO A BUCKET PARA CRIAR UM DATAFRAME NO PYSPARK A PARTIR DO DATASET
client = storage.Client()

#CRIAR UMA VARIÁVEL PARA RECEBER O NOME DA BUCKET
bucket = client.get_bucket('') #bucket retirado

#ESCOLHER O ARQUIVO DENTRO DA BUCKET
bucket.blob('marketing_campaign.csv')

#CRIAR UMA VARIÁVEL QUE VAI RECEBER O CAMINHO DO ARQUIVO
path = 'gs://' #caminho retirado

In [ ]:
#PARA MOSTRAR O MAXIMO DE COLUNAS
pd.set_option('max_columns',None)

In [ ]:
#LER O ARQUIVO E ENVIAR DO BUCKET PARA PARA O PANDAS 
df = pd.read_csv('gs://')  #caminho retirado

<font color=cyan>ENVIANDO COPIA DO ARQUIVO ORIGINAL PARA O MONGO
- Comentei as três células abaixo para não duplicar o bd

In [ ]:
#CONECTAR AO ATLAS
client = pymongo.MongoClient('mongodb+srv://chave.rbmhmgf.mongodb.net/?retryWrites=true&w=majority') #chave de acesso retirado

In [ ]:
#CARREGANDO ARQUIVO PARA O MONGODB
#db = client['projetoindi']
#colecaoprojetoindi = db.original

In [ ]:
#df = df.to_dict("records")
#colecaoprojetoindi.insert_many(df)

In [ ]:
#colecaoprojetoindi.count_documents({})

#Tratamento

##<font color=cyan>Pandas
- EXTRAIR O DATAFRAME
- TRADUZIR COLUNAS E DADOS PARA O PT-BR
- VERIFICAR INCONSISTENCIAS
- REALIZAR LIMPEZA DE DADOS
- FAZER UMA BREVE ANÁLISE DOS DADOS

In [ ]:
#MOSTRAR AS CINCO PRIMEIRAS LINHAS DO ARQUIVO
df.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
#MOSTRAR AS CINCO ÚLTIMAS LINHAS DO ARQUIVO
df.tail(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,182,42,118,247,2,9,3,4,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,3,11,1

In [ ]:
#MOSTRAR INFORMAÇÕES SOBRE O DF
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [ ]:
#VERIFICANDO VALORES QUE SÃO ÚNICOS DA COLUNA 'Education'
df.Education.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
#VERIFICANDO VALORES QUE SÃO ÚNICOS DA COLUNA 'Marital_Status'
df.Marital_Status.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

<font color=cian>**OBSERVAÇÕES:**
- Traduzir os nomes das colunas para o pt-br;
- Mudar a coluna 'DT_Customer' de object para date;
- Traduzir os valores da coluna 'Education' para o pt-br;
- Traduzir os valores da coluna 'Marital_Status' para o pt-br;

In [ ]:
#REALIZANDO UM BACKUP DO DF PARA DF1
df1 = df.copy()

In [ ]:
#VISUALIZAR COLUNAS
df1.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
#TRADUZINDO NOME DAS COLUNAS
df1.rename(columns={'Year_Birth':'AnoDeNascimento',
                    'Education':'Escolaridade',
                    'Marital_Status':'EstadoCivil',
                    'Income':'Renda',
                    'Kidhome':'CriançasEmCasa',
                    'Teenhome':'AdolescentesEmCasa',
                    'Dt_Customer':'DataDoCadastroDoCliente',
                    'Recency':'DiasDaUltimaCompra',
                    'MntWines':'TktMedioVinho',
                    'MntFruits':'TktMedioFrutas',
                    'MntMeatProducts':'TktMedioCarne',
                    'MntFishProducts':'TktMedioPeixe',
                    'MntSweetProducts':'TktMedioDoces',
                    'MntGoldProds':'TktMedioOuro',
                    'NumDealsPurchases':'ComprasEmOferta',
                    'NumWebPurchases':'ComprasPelaInternet',
                    'NumCatalogPurchases':'ComprasPeloCatalogo',
                    'NumStorePurchases':'ComprasNaLoja',
                    'NumWebVisitsMonth':'VisitaPelaInternetNoMes',
                    'AcceptedCmp3':'AceitouCampanha3',
                    'AcceptedCmp4':'AceitouCampanha4',
                    'AcceptedCmp5':'AceitouCampanha5',
                    'AcceptedCmp1':'AceitouCampanha1',
                    'AcceptedCmp2':'AceitouCampanha2',
                    'Complain':'Reclamações',
                    'Z_CostContact':'Z_CustoContato',
                    'Z_Revenue':'Z_Receita',
                    'Response':'AceitouUltimaCampanha'
                    }, inplace=True)

In [ ]:
#VERIFICANDO A MUDANÇA
df1.columns

Index(['ID', 'AnoDeNascimento', 'Escolaridade', 'EstadoCivil', 'Renda',
       'CriançasEmCasa', 'AdolescentesEmCasa', 'DataDoCadastroDoCliente',
       'DiasDaUltimaCompra', 'TktMedioVinho', 'TktMedioFrutas',
       'TktMedioCarne', 'TktMedioPeixe', 'TktMedioDoces', 'TktMedioOuro',
       'ComprasEmOferta', 'ComprasPelaInternet', 'ComprasPeloCatalogo',
       'ComprasNaLoja', 'VisitaPelaInternetNoMes', 'AceitouCampanha3',
       'AceitouCampanha4', 'AceitouCampanha5', 'AceitouCampanha1',
       'AceitouCampanha2', 'Reclamações', 'Z_CustoContato', 'Z_Receita',
       'AceitouUltimaCampanha'],
      dtype='object')

In [ ]:
#CONVERTENDO 'DataDoCadastroDoCliente' DE 'object' PARA 'datetime'
df1['DataDoCadastroDoCliente'] = pd.to_datetime(df1['DataDoCadastroDoCliente'])

In [ ]:
#VERIFICANDO AS MUDANÇAS de 'DataDoCadastroDoCliente'
df1.dtypes

ID                                  int64
AnoDeNascimento                     int64
Escolaridade                       object
EstadoCivil                        object
Renda                             float64
CriançasEmCasa                      int64
AdolescentesEmCasa                  int64
DataDoCadastroDoCliente    datetime64[ns]
DiasDaUltimaCompra                  int64
TktMedioVinho                       int64
TktMedioFrutas                      int64
TktMedioCarne                       int64
TktMedioPeixe                       int64
TktMedioDoces                       int64
TktMedioOuro                        int64
ComprasEmOferta                     int64
ComprasPelaInternet                 int64
ComprasPeloCatalogo                 int64
ComprasNaLoja                       int64
VisitaPelaInternetNoMes             int64
AceitouCampanha3                    int64
AceitouCampanha4                    int64
AceitouCampanha5                    int64
AceitouCampanha1                    int64
AceitouCampanha2                    int64
Reclamações                         int64
Z_CustoContato                      int64
Z_Receita                           int64
AceitouUltimaCampanha               int64
dtype: object

In [ ]:
df1.head(3)

,ID,AnoDeNascimento,Escolaridade,EstadoCivil,Renda,CriançasEmCasa,AdolescentesEmCasa,DataDoCadastroDoCliente,DiasDaUltimaCompra,TktMedioVinho,TktMedioFrutas,TktMedioCarne,TktMedioPeixe,TktMedioDoces,TktMedioOuro,ComprasEmOferta,ComprasPelaInternet,ComprasPeloCatalogo,ComprasNaLoja,VisitaPelaInternetNoMes,AceitouCampanha3,AceitouCampanha4,AceitouCampanha5,AceitouCampanha1,AceitouCampanha2,Reclamações,Z_CustoContato,Z_Receita,AceitouUltimaCampanha
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0

In [ ]:
#VERIFICANDO VALORES DE 'Escolaridade'
df1['Escolaridade'].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
#VERIFICANDO VALORES DE 'EstadoCivil'
df1['EstadoCivil'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [ ]:
#TRADUZINDO VALORES DE 'Escolaridade'
df1['Escolaridade'].replace({'Graduation':'Ensino Superior',
                             'PhD':'Doutorado',
                             'Master':'Mestrado',
                             'Basic':'Ensino Fundamental',
                             '2n Cycle':'Ensino Médio',
                             },inplace=True)

In [ ]:
#TRADUZINDO VALORES DE 'EstadoCivil'
df1['EstadoCivil'].replace({'Single':'Solteiro',
                            'Together':'União Estável',
                            'Married':'Casado',
                            'Divorced':'Divorciado',
                            'Widow':'Viúvo',
                            'Alone':'Solteiro',
                            'Absurd':'Não Respondeu',
                            'YOLO':'Solteiro'
                            },inplace=True)

In [ ]:
#VERIFICANDO AS MUDANÇAS
df1.head(3)

,ID,AnoDeNascimento,Escolaridade,EstadoCivil,Renda,CriançasEmCasa,AdolescentesEmCasa,DataDoCadastroDoCliente,DiasDaUltimaCompra,TktMedioVinho,TktMedioFrutas,TktMedioCarne,TktMedioPeixe,TktMedioDoces,TktMedioOuro,ComprasEmOferta,ComprasPelaInternet,ComprasPeloCatalogo,ComprasNaLoja,VisitaPelaInternetNoMes,AceitouCampanha3,AceitouCampanha4,AceitouCampanha5,AceitouCampanha1,AceitouCampanha2,Reclamações,Z_CustoContato,Z_Receita,AceitouUltimaCampanha
0,5524,1957,Ensino Superior,Solteiro,58138.0,0,0,2012-04-09,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Ensino Superior,Solteiro,46344.0,1,1,2014-08-03,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0

In [ ]:
#VERIFICANDO COLUNAS COM DADOS NULOS
df1.isna().sum()

ID                          0
AnoDeNascimento             0
Escolaridade                0
EstadoCivil                 0
Renda                      24
CriançasEmCasa              0
AdolescentesEmCasa          0
DataDoCadastroDoCliente     0
DiasDaUltimaCompra          0
TktMedioVinho               0
TktMedioFrutas              0
TktMedioCarne               0
TktMedioPeixe               0
TktMedioDoces               0
TktMedioOuro                0
ComprasEmOferta             0
ComprasPelaInternet         0
ComprasPeloCatalogo         0
ComprasNaLoja               0
VisitaPelaInternetNoMes     0
AceitouCampanha3            0
AceitouCampanha4            0
AceitouCampanha5            0
AceitouCampanha1            0
AceitouCampanha2            0
Reclamações                 0
Z_CustoContato              0
Z_Receita                   0
AceitouUltimaCampanha       0
dtype: int64

In [ ]:
#MOSTRANDO OS DADOS NAN DA COLUNA 'Renda' 
filtroRendaNA = df1.Renda.isna()
RendaNA = df1.loc[filtroRendaNA]
RendaNA.head(24)

,ID,AnoDeNascimento,Escolaridade,EstadoCivil,Renda,CriançasEmCasa,AdolescentesEmCasa,DataDoCadastroDoCliente,DiasDaUltimaCompra,TktMedioVinho,TktMedioFrutas,TktMedioCarne,TktMedioPeixe,TktMedioDoces,TktMedioOuro,ComprasEmOferta,ComprasPelaInternet,ComprasPeloCatalogo,ComprasNaLoja,VisitaPelaInternetNoMes,AceitouCampanha3,AceitouCampanha4,AceitouCampanha5,AceitouCampanha1,AceitouCampanha2,Reclamações,Z_CustoContato,Z_Receita,AceitouUltimaCampanha
10,1994,1983,Ensino Superior,Casado,NaN,1,0,2013-11-15,11,5,5,6,0,2,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0
27,5255,1986,Ensino Superior,Solteiro,NaN,1,0,2013-02-20,19,5,1,3,3,263,362,0,27,0,0,1,0,0,0,0,0,0,3,11,0
43,7281,1959,Doutorado,Solteiro,NaN,0,0,2013-05-11,80,81,11,50,3,2,39,1,1,3,4,2,0,0,0,0,0,0,3,11,0
48,7244,1951,Ensino Superior,Solteiro,NaN,2,1,2014-01-01,96,48,5,48,6,10,7,3,2,1,4,6,0,0,0,0,0,0,3,11,0
58,8557,1982,Ensino Superior,Solteiro,NaN,1,0,2013-06-17,57,11,3,22,2,2,6,2,2,0,3,6,0,0,0,0,0,0,3,11,0
71,10629,1973,Ensino Médio,Casado,NaN,1,0,2012-09-14,25,25,3,43,17,4,17,3,3,0,3,8,0,0,0,0,0,0,3,11,0
90,8996,1957,Doutorado,Casado,NaN,2,1,2012-11-19,4,230,42,192,49,37,53,12,7,2,8,9,0,0,0,0,0,0,3,11,0
91,9235,1957,Ensino Superior,Solteiro,NaN,1,1,2014-05-27,45,7,0,8,2,0,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0
92,5798,1973,Mestrado,União Estável,NaN,0,0,2013-11-23,87,445,37,359,98,28,18,1,2,4,8,1,0,0,0,0,0,0,3,11,0
128,8268,1961,Doutorado,Casado,NaN,0,1,2013-11-07,23,352,0,27,10,0,15,3,6,1,7,6,0,0,0,0,0,0,3,11,0
133,1295,1963,Ensino Superior,Casado,NaN,0,1,2013-11-08,96,231,65,196,38,71,124,1,6,5,7,4,0,0,0,0,0,0,3,11,0
312,2437,1989,Ensino Superior,Casado,NaN,0,0,2013-03-06,69,861,138,461,60,30,61,1,6,5,12,3,0,1,0,1,0,0,3,11,0
319,2863,1970,Ensino Superior,Solteiro,NaN,1,2,2013-08-23,67,738,20,172,52,50,20,6,2,3,10,7,0,1,0,1,0,0,3,11,0
1379,10475,1970,Mestrado,União Estável,NaN,0,1,2013-01-04,39,187,5,65,26,20,14,2,4,2,6,5,0,0,0,0,0,0,3,11,0
1382,2902,1958,Ensino Superior,União Estável,NaN,1,1,2012-03-09,87,19,4,12,2,2,6,1,1,0,3,5,0,0,0,0,0,0,3,11,0
1383,4345,1964,Ensino Médio,Solteiro,NaN,1,1,2014-12-01,49,5,1,9,2,0,4,1,1,0,2,7,0,0,0,0,0,0,3,11,0
1386,3769,1972,Doutorado,União Estável,NaN,1,0,2014-02-03,17,25,1,13,0,0,3,1,1,0,3,7,0,0,0,0,0,0,3,11,0
2059,7187,1969,Mestrado,União Estável,NaN,1,1,2013-05-18,52,375,42,48,94,66,96,7,4,10,4,3,0,0,0,0,0,0,3,11,0
2061,1612,1981,Doutorado,Solteiro,NaN,1,0,2013-05-31,82,23,0,15,0,2,7,2,3,0,3,6,0,0,0,0,0,0,3,11,0
2078,5079,1971,Ensino Superior,Casado,NaN,1,1,2013-03-03,82,71,1,16,0,0,9,4,2,1,3,8,0,0,0,0,0,0,3,11,0
2079,10339,1954,Mestrado,União Estável,NaN,0,1,2013-06-23,83,161,0,22,0,0,24,2,4,1,4,6,0,0,0,0,0,0,3,11,0
2081,3117,1955,Ensino Superior,Solteiro,NaN,0,1,2013-10-18,95,264,0,21,12,6,147,3,6,1,5,7,0,0,0,0,0,0,3,11,0
2084,5250,1943,Mestrado,Viúvo,NaN,0,0,2013-10-30,75,532,126,490,164,126,126,1,5,5,11,1,0,0,1,0,0,0,3,11,1
2228,8720,1978,Ensino Médio,União Estável,NaN,0,0,2012-12-08,53,32,2,1607,12,4,22,0,0,0,1,0,0,1,0,0,0,0,3,11,0

In [ ]:
#VERIFICA SE OS VALORES EM 'ID' SÃO ÚNICOS 
df1['ID'].is_unique

True

In [ ]:
#VERIFICANDO VALORES DE 'AnoDeNascimento'
df1['AnoDeNascimento'].sort_values(ascending=True).unique()

array([1893, 1899, 1900, 1940, 1941, 1943, 1944, 1945, 1946, 1947, 1948,
       1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996])

In [ ]:
#AGRUPAMENTO POR 'Escolaridade'
df1.groupby(['Escolaridade']).size().sort_values(ascending=False)

Escolaridade
Ensino Superior       1127
Doutorado              486
Mestrado               370
Ensino Médio           203
Ensino Fundamental      54
dtype: int64

In [ ]:
#AGRUPAMENTO POR 'Estado Civil' 
df1.groupby(['EstadoCivil']).size().sort_values(ascending=False)

EstadoCivil
Casado           864
União Estável    580
Solteiro         485
Divorciado       232
Viúvo             77
Não Respondeu      2
dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'CriançasEmCasa'
df1['CriançasEmCasa'].unique()

array([0, 1, 2])

In [ ]:
#VERIFICANDO VALORES DE 'AdolescentesEmCasa'
df1['AdolescentesEmCasa'].unique()

array([0, 1, 2])

In [ ]:
#VERIFICANDO VALORES DE 'DataDoCadastroDoCliente'
df1['DataDoCadastroDoCliente'].sort_values(ascending=True)

2029   2012-01-08
976    2012-01-08
2194   2012-01-08
724    2012-01-08
1473   2012-01-09
          ...
153    2014-12-05
815    2014-12-05
216    2014-12-05
50     2014-12-05
2003   2014-12-06
Name: DataDoCadastroDoCliente, Length: 2240, dtype: datetime64[ns]

In [ ]:
#VERIFICANDO VALORES DE 'DiasDaUltimaCompra'
df1['DiasDaUltimaCompra'].sort_values(ascending=True).unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [ ]:
#VERIFICANDO VALORES DE 'TktMedioVinho'
df1['TktMedioVinho'].sort_values(ascending=False)

1749    1493
824     1492
559     1492
2098    1486
917     1478
        ...
1170       0
1780       0
136        0
445        0
738        0
Name: TktMedioVinho, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'TktMedioFrutas'
df1['TktMedioFrutas'].sort_values(ascending=False)

855     199
1480    199
1508    197
1526    194
2217    194
       ...
419       0
1804      0
415       0
1802      0
1430      0
Name: TktMedioFrutas, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'TktMedioCarne'
df1['TktMedioCarne'].sort_values(ascending=False)

1653    1725
21      1725
687     1622
2228    1607
164     1582
        ...
1846       1
981        1
205        1
1420       1
1861       0
Name: TktMedioCarne, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'TktMedioPeixe'
df1['TktMedioPeixe'].sort_values(ascending=False)

1199    259
1644    258
1799    258
1699    258
214     254
       ...
1538      0
1543      0
1545      0
281       0
1077      0
Name: TktMedioPeixe, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'TktMedioDoces'
df1['TktMedioDoces'].sort_values(ascending=False)

27      263
1898    262
634     198
1513    197
1671    196
       ...
346       0
134       0
1904      0
1342      0
635       0
Name: TktMedioDoces, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'TktMedioOuro'
df1['TktMedioOuro'].sort_values(ascending=False)

27      362
1975    321
1806    291
1328    262
723     249
       ...
66        0
2131      0
730       0
735       0
775       0
Name: TktMedioOuro, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'ComprasEmOferta'
df1['ComprasEmOferta'].sort_values(ascending=False)

1042    15
1245    15
432     15
164     15
21      15
        ..
814      0
124      0
116      0
1982     0
1697     0
Name: ComprasEmOferta, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'ComprasPelaInternet'
df1['ComprasPelaInternet'].sort_values(ascending=False)

27      27
1898    27
1975    25
1806    23
1022    11
        ..
617      0
2015     0
1352     0
2003     0
1128     0
Name: ComprasPelaInternet, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'ComprasPeloCatalogo'
df1['ComprasPeloCatalogo'].sort_values(ascending=False)

1653    28
21      28
687     28
164     22
1828    11
        ..
799      0
398      0
1592     0
1594     0
775      0
Name: ComprasPeloCatalogo, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'ComprasNaLoja'
df1['ComprasNaLoja'].sort_values(ascending=False)

1187    13
803     13
1144    13
286     13
1150    13
        ..
164      0
2214     0
27       0
1042     0
2132     0
Name: ComprasNaLoja, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'VisitaPelaInternetNoMes'
df1['VisitaPelaInternetNoMes'].sort_values(ascending=False)

9       20
1245    20
774     20
1846    19
1042    19
        ..
905      0
1806     0
2132     0
164      0
1910     0
Name: VisitaPelaInternetNoMes, Length: 2240, dtype: int64

In [ ]:
#VERIFICANDO VALORES DE 'AceitouCampanha3'
df1['AceitouCampanha3'].unique()

array([0, 1])

In [ ]:
#VERIFICANDO VALORES DE 'AceitouCampanha4'
df1['AceitouCampanha4'].unique()

array([0, 1])

In [ ]:
#VERIFICANDO VALORES DE 'AceitouCampanha5'
df1['AceitouCampanha5'].unique()

array([0, 1])

In [ ]:
#VERIFICANDO VALORES DE 'AceitouCampanha1'
df1['AceitouCampanha1'].unique()

array([0, 1])

In [ ]:
#VERIFICANDO VALORES DE 'AceitouCampanha2'
df1['AceitouCampanha2'].unique()

array([0, 1])

In [ ]:
#VERIFICANDO VALORES DE 'Reclamações'
df1['Reclamações'].unique()

array([0, 1])

In [ ]:
#VERIFICANDO VALORES DE 'Z_CustoContato'
df1['Z_CustoContato'].unique()

array([3])

In [ ]:
#VERIFICANDO VALORES DE 'Z_Receita'
df1['Z_Receita'].unique()

array([11])

In [ ]:
#VERIFICANDO VALORES DE 'AceitouUltimaCampanha'
df1['AceitouUltimaCampanha'].unique()

array([1, 0])

In [ ]:
#TOTAL DE LINHAS E COLUNAS
df1.shape

(2240, 29)

In [ ]:
#DROPAR AS COLUNAS 'Z_CustoContato' E 'Z_Receita' POR SE TRATAREM DE COLUNAS COM VALORES FIXOS SEM VARIAÇÂO.
df1.drop(['Z_CustoContato',
          'Z_Receita'], axis=1, inplace=True)

<font color=cian>**PRÉ-ANÁLISE**

In [ ]:
#TOTAL DE LINHAS E COLUNAS DEPOIS DA ALTERAÇÂO ANTERIOR
df1.shape

(2240, 27)

In [ ]:
#ALTERANDO OS VALORES DA COLUNA 'AceitouCampanha3' ONDE '0' SERÁ 'NÃO' E '1' SERÁ 'SIM' 
df1['AceitouCampanha3'].replace({0:'NÃO',
                                 1:'SIM',
                                 },inplace=True)
df1['AceitouCampanha3'].value_counts()

Os clientes aceitaram a campanha 3?

NÃO    2077
SIM     163
Name: AceitouCampanha3, dtype: int64

In [ ]:
#ALTERANDO OS VALORES DA COLUNA 'AceitouCampanha4' ONDE '0' SERÁ 'NÃO' E '1' SERÁ 'SIM' 
df1['AceitouCampanha4'].replace({0:'NÃO',
                                 1:'SIM',
                                 },inplace=True)
df1['AceitouCampanha4'].value_counts()

Os clientes aceitaram a campanha 4?

NÃO    2073
SIM     167
Name: AceitouCampanha4, dtype: int64

In [ ]:
#ALTERANDO OS VALORES DA COLUNA 'AceitouCampanha5' ONDE '0' SERÁ 'NÃO' E '1' SERÁ 'SIM' 
df1['AceitouCampanha5'].replace({0:'NÃO',
                                 1:'SIM',
                                 },inplace=True)
df1['AceitouCampanha5'].value_counts()

Os clientes aceitaram a campanha 5?

NÃO    2077
SIM     163
Name: AceitouCampanha5, dtype: int64

In [ ]:
#ALTERANDO OS VALORES DA COLUNA 'AceitouCampanha1' ONDE '0' SERÁ 'NÃO' E '1' SERÁ 'SIM' 
df1['AceitouCampanha1'].replace({0:'NÃO',
                                 1:'SIM',
                                 },inplace=True)
df1['AceitouCampanha1'].value_counts()

NÃO    2096
SIM     144
Name: AceitouCampanha1, dtype: int64

In [ ]:
#ALTERANDO OS VALORES DA COLUNA 'AceitouCampanha2' ONDE '0' SERÁ 'NÃO' E '1' SERÁ 'SIM' 
df1['AceitouCampanha2'].replace({0:'NÃO',
                                 1:'SIM',
                                 },inplace=True)
df1['AceitouCampanha2'].value_counts()

NÃO    2210
SIM      30
Name: AceitouCampanha2, dtype: int64

In [ ]:
#ALTERANDO OS VALORES DA COLUNA 'Reclamações' ONDE '0' SERÁ 'NÃO' E '1' SERÁ 'SIM' 
df1['Reclamações'].replace({0:'NÃO',
                            1:'SIM',
                            },inplace=True)
df1['Reclamações'].value_counts()

NÃO    2219
SIM      21
Name: Reclamações, dtype: int64

In [ ]:
#ALTERANDO OS VALORES DA COLUNA 'AceitouUltimaCampanha' ONDE '0' SERÁ 'NÃO' E '1' SERÁ 'SIM' 
df1['AceitouUltimaCampanha'].replace({0:'NÃO',
                                      1:'SIM',
                                      },inplace=True)
df1['AceitouUltimaCampanha'].value_counts()

NÃO    1906
SIM     334
Name: AceitouUltimaCampanha, dtype: int64

In [ ]:
#VERIFICANDO AS MUDANÇAS
df1.head(3)

,ID,AnoDeNascimento,Escolaridade,EstadoCivil,Renda,CriançasEmCasa,AdolescentesEmCasa,DataDoCadastroDoCliente,DiasDaUltimaCompra,TktMedioVinho,TktMedioFrutas,TktMedioCarne,TktMedioPeixe,TktMedioDoces,TktMedioOuro,ComprasEmOferta,ComprasPelaInternet,ComprasPeloCatalogo,ComprasNaLoja,VisitaPelaInternetNoMes,AceitouCampanha3,AceitouCampanha4,AceitouCampanha5,AceitouCampanha1,AceitouCampanha2,Reclamações,AceitouUltimaCampanha
0,5524,1957,Ensino Superior,Solteiro,58138.0,0,0,2012-04-09,58,635,88,546,172,88,88,3,8,10,4,7,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,SIM
1,2174,1954,Ensino Superior,Solteiro,46344.0,1,1,2014-08-03,38,11,1,6,2,1,6,2,1,1,2,5,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO

In [ ]:
#EXPORTANDO DF1 PARA BUCKET
df1.to_csv('gs://', index=False) #caminho retirado

<font color=cyan>ENVIANDO COPIA DO QUE FOI TRATADO PARA O MONGO
- Comentei as quatro celulas abaixo para evitar que fique com dados duplicados

In [ ]:
#db = client['projetoindi']
#colecaoprojetoindi = db.df1_marketing_campaign

In [ ]:
#df1 = df1.to_dict("records")
#colecaoprojetoindi.insert_many(df1)

In [ ]:
#colecaoprojetoindi.count_documents({})

In [ ]:
#REALIZANDO COPIA DO DF1 PARA O DF2
df2 = df1.copy()

##<font color=cyan>Spark

- MONTAR ESTRUTURA DATAFRAME COM STRUCTTYPE
- VERIFICAR A EXISTENCIA DE DADOS INCONSISTENTES, NULOS E REALIZAR A LIMPEZA
- VERIFICAR A NECESSIDADE DE DROP DE COLUNAS
- ALTERAR NOME DE PELO MENOS DUAS COLUNAS
- CRIAR PELO MENOS DUAS NOVAS COLUNAS CONTENDO INFORMAÇÂO RELEVANTE
- CRIAÇÃO DE COLUNAS COM FUNÇÃO DE AGRUPAMENTO
- USAR FILTROS, ORDENAÇÃO E AGRUPAMENTO, TRAZENDO DADOS RELEVANTES
- USAR PELO MENOS DUAS WINDOW FUNCTIONS

In [ ]:
#VISUALIZANDO O COMEÇO DO DF2
df2.head(3)

,ID,AnoDeNascimento,Escolaridade,EstadoCivil,Renda,CriançasEmCasa,AdolescentesEmCasa,DataDoCadastroDoCliente,DiasDaUltimaCompra,TktMedioVinho,TktMedioFrutas,TktMedioCarne,TktMedioPeixe,TktMedioDoces,TktMedioOuro,ComprasEmOferta,ComprasPelaInternet,ComprasPeloCatalogo,ComprasNaLoja,VisitaPelaInternetNoMes,AceitouCampanha3,AceitouCampanha4,AceitouCampanha5,AceitouCampanha1,AceitouCampanha2,Reclamações,AceitouUltimaCampanha
0,5524,1957,Ensino Superior,Solteiro,58138.0,0,0,2012-04-09,58,635,88,546,172,88,88,3,8,10,4,7,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,SIM
1,2174,1954,Ensino Superior,Solteiro,46344.0,1,1,2014-08-03,38,11,1,6,2,1,6,2,1,1,2,5,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO,NÃO

In [ ]:
#EXPORTANDO DF2 PARA BUCKET
df2.to_csv('gs://', index=False) #caminho retirado

In [ ]:
#CONFIGURAR A SPARKSESSION
spark = ( SparkSession.builder
         .master('local')
         .appName('limpeza-spark')
         .config('spark.ui.port', '4050')
         .getOrCreate()
)

In [ ]:
#ENVIAR DO PANDAS PARA O PYSPARK
df3 = spark.createDataFrame(df2)

In [ ]:
spark

In [ ]:
#MOSTRAR O DF
df3.show(10)

+----+---------------+---------------+-------------+-------+--------------+------------------+-----------------------+------------------+-------------+--------------+-------------+-------------+-------------+------------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+
|  ID|AnoDeNascimento|   Escolaridade|  EstadoCivil|  Renda|CriançasEmCasa|AdolescentesEmCasa|DataDoCadastroDoCliente|DiasDaUltimaCompra|TktMedioVinho|TktMedioFrutas|TktMedioCarne|TktMedioPeixe|TktMedioDoces|TktMedioOuro|ComprasEmOferta|ComprasPelaInternet|ComprasPeloCatalogo|ComprasNaLoja|VisitaPelaInternetNoMes|AceitouCampanha3|AceitouCampanha4|AceitouCampanha5|AceitouCampanha1|AceitouCampanha2|Reclamações|AceitouUltimaCampanha|
+----+---------------+---------------+-------------+-------+--------------+------------------+-----------------------+------------------+-------------+--------------+-------------+-------------+-------------+------------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+
|5524|           1957|Ensino Superior|     Solteiro|58138.0|             0|                 0|    2012-04-09 00:00:00|                58|          635|            88|          546|          172|           88|          88|              3|                  8|                 10|            4|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|
|2174|           1954|Ensino Superior|     Solteiro|46344.0|             1|                 1|    2014-08-03 00:00:00|                38|           11|             1|            6|            2|            1|           6|              2|                  1|                  1|            2|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|4141|           1965|Ensino Superior|União Estável|71613.0|             0|                 0|    2013-08-21 00:00:00|                26|          426|            49|          127|          111|           21|          42|              1|                  8|                  2|           10|                      4|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|6182|           1984|Ensino Superior|União Estável|26646.0|             1|                 0|    2014-10-02 00:00:00|                26|           11|             4|           20|           10|            3|           5|              2|                  2|                  0|            4|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|5324|           1981|      Doutorado|       Casado|58293.0|             1|                 0|    2014-01-19 00:00:00|                94|          173|            43|          118|           46|           27|          15|              5|                  5|                  3|            6|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|7446|           1967|       Mestrado|União Estável|62513.0|             0|                 1|    2013-09-09 00:00:00|                16|          520|            42|           98|            0|           42|          14|              2|                  6|                  4|           10|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
| 965|           1971|Ensino Superior|   Divorciado|55635.0|             0|                 1|    2012-11-13 00:00:00|                34|          235|            65|          164|           50|           49|          27|              4|                  7|                  3|            7|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|6177|           1985|      Doutorado|       Casado|33454.0|             1|                 0|    2013-08-05 00:00:00|                32|           76|            10|           56|            3|            1|          23|              2|                  4|                  0|            4|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|4855|           1974|      Doutorado|União Estável|30351.0|             1|                 0|    2013-06-06 00:00:00|                19|           14|             0|           24|            3|            3|           2|              1|                  3|                  0|            2|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|
|5899|           1950|      Doutorado|União Estável| 5648.0|             1|                 1|    2014-03-13 00:00:00|                68|           28|             0|            6|            1|            1|          13|              1|                  1|                  0|            0|                     20|             SIM|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
+----+---------------+---------------+-------------+-------+--------------+------------------+-----------------------+------------------+-------------+--------------+-------------+-------------+-------------+------------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+
only showing top 10 rows

In [ ]:
# DEFININDO O ESQUEMA DOS DADOS
schema = (
    StructType([
        StructField('ID', IntegerType(), True),
        StructField('AnoDeNascimento', DataType(), True),
        StructField('Escolaridade', StringType(), True),
        StructField('EstadoCivil', StringType(), True),
        StructField('Renda', DoubleType(), True),
        StructField('CriançasEmCasa', IntegerType(), True),
        StructField('AdolescentesEmCasa', IntegerType(), True),
        StructField('DataDoCadastroDoCliente', DataType(), True),
        StructField('DiasDaUltimaCompra', IntegerType(), True),
        StructField('TktMedioVinho', IntegerType(), True),
        StructField('TktMedioFrutas',IntegerType(), True), 
        StructField('TktMedioCarne ', IntegerType(), True),
        StructField('TktMedioPeixe', IntegerType(), True),
        StructField('TktMedioDoces', IntegerType(), True),
        StructField('TktMedioOuro',IntegerType(), True),
        StructField('ComprasEmOferta', IntegerType(), True),
        StructField('ComprasPelaInternet', IntegerType(), True),
        StructField('ComprasPeloCatalogo', IntegerType(), True),
        StructField('ComprasNaLoja', IntegerType(), True),
        StructField('VisitaPelaInternetNoMes', IntegerType(), True), 
        StructField('AceitouCampanha3',StringType(), True),
        StructField('AceitouCampanha4',StringType(), True),
        StructField('AceitouCampanha5',StringType(), True),
        StructField('AceitouCampanha1',StringType(), True),
        StructField('AceitouCampanha2',StringType(), True),
        StructField('Reclamações', StringType(), True),
        StructField('AceitouUltimaCampanha', StringType(), True),
    ])
)

In [ ]:
#MOSTRAR O SCHEMA
df3.printSchema()

root
 |-- ID: long (nullable = true)
 |-- AnoDeNascimento: long (nullable = true)
 |-- Escolaridade: string (nullable = true)
 |-- EstadoCivil: string (nullable = true)
 |-- Renda: double (nullable = true)
 |-- CriançasEmCasa: long (nullable = true)
 |-- AdolescentesEmCasa: long (nullable = true)
 |-- DataDoCadastroDoCliente: timestamp (nullable = true)
 |-- DiasDaUltimaCompra: long (nullable = true)
 |-- TktMedioVinho: long (nullable = true)
 |-- TktMedioFrutas: long (nullable = true)
 |-- TktMedioCarne: long (nullable = true)
 |-- TktMedioPeixe: long (nullable = true)
 |-- TktMedioDoces: long (nullable = true)
 |-- TktMedioOuro: long (nullable = true)
 |-- ComprasEmOferta: long (nullable = true)
 |-- ComprasPelaInternet: long (nullable = true)
 |-- ComprasPeloCatalogo: long (nullable = true)
 |-- ComprasNaLoja: long (nullable = true)
 |-- VisitaPelaInternetNoMes: long (nullable = true)
 |-- AceitouCampanha3: string (nullable = true)
 |-- AceitouCampanha4: string (nullable = true)
 |-- AceitouCampanha5: string (nullable = true)
 |-- AceitouCampanha1: string (nullable = true)
 |-- AceitouCampanha2: string (nullable = true)
 |-- Reclamações: string (nullable = true)
 |-- AceitouUltimaCampanha: string (nullable = true)

In [ ]:
#MOSTRAR A QUANTIDADE DE REGISTROS
df3.count()

2240

In [ ]:
#CORREÇÃO DO TITULO DAS COLUNAS
df3 = df3.withColumnRenamed('TktMedioVinho','QntVinhos')\
         .withColumnRenamed('TktMedioFrutas','QntFrutas')\
         .withColumnRenamed('TktMedioCarne','QntCarne')\
         .withColumnRenamed('TktMedioPeixe','QntPeixe')\
         .withColumnRenamed('TktMedioDoces','QntDoces')\
         .withColumnRenamed('TktMedioOuro','QntOuro')
df3.show(10)

+----+---------------+---------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+
|  ID|AnoDeNascimento|   Escolaridade|  EstadoCivil|  Renda|CriançasEmCasa|AdolescentesEmCasa|DataDoCadastroDoCliente|DiasDaUltimaCompra|QntVinhos|QntFrutas|QntCarne|QntPeixe|QntDoces|QntOuro|ComprasEmOferta|ComprasPelaInternet|ComprasPeloCatalogo|ComprasNaLoja|VisitaPelaInternetNoMes|AceitouCampanha3|AceitouCampanha4|AceitouCampanha5|AceitouCampanha1|AceitouCampanha2|Reclamações|AceitouUltimaCampanha|
+----+---------------+---------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+
|5524|           1957|Ensino Superior|     Solteiro|58138.0|             0|                 0|    2012-04-09 00:00:00|                58|      635|       88|     546|     172|      88|     88|              3|                  8|                 10|            4|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|
|2174|           1954|Ensino Superior|     Solteiro|46344.0|             1|                 1|    2014-08-03 00:00:00|                38|       11|        1|       6|       2|       1|      6|              2|                  1|                  1|            2|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|4141|           1965|Ensino Superior|União Estável|71613.0|             0|                 0|    2013-08-21 00:00:00|                26|      426|       49|     127|     111|      21|     42|              1|                  8|                  2|           10|                      4|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|6182|           1984|Ensino Superior|União Estável|26646.0|             1|                 0|    2014-10-02 00:00:00|                26|       11|        4|      20|      10|       3|      5|              2|                  2|                  0|            4|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|5324|           1981|      Doutorado|       Casado|58293.0|             1|                 0|    2014-01-19 00:00:00|                94|      173|       43|     118|      46|      27|     15|              5|                  5|                  3|            6|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|7446|           1967|       Mestrado|União Estável|62513.0|             0|                 1|    2013-09-09 00:00:00|                16|      520|       42|      98|       0|      42|     14|              2|                  6|                  4|           10|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
| 965|           1971|Ensino Superior|   Divorciado|55635.0|             0|                 1|    2012-11-13 00:00:00|                34|      235|       65|     164|      50|      49|     27|              4|                  7|                  3|            7|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|6177|           1985|      Doutorado|       Casado|33454.0|             1|                 0|    2013-08-05 00:00:00|                32|       76|       10|      56|       3|       1|     23|              2|                  4|                  0|            4|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
|4855|           1974|      Doutorado|União Estável|30351.0|             1|                 0|    2013-06-06 00:00:00|                19|       14|        0|      24|       3|       3|      2|              1|                  3|                  0|            2|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|
|5899|           1950|      Doutorado|União Estável| 5648.0|             1|                 1|    2014-03-13 00:00:00|                68|       28|        0|       6|       1|       1|     13|              1|                  1|                  0|            0|                     20|             SIM|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|
+----+---------------+---------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+
only showing top 10 rows

In [ ]:
#MOSTRAR COLUNAS ESPECIFICAS DE 'AnoDeNascimento', 'Escolaridade', 'EstadoCivil','DiasDaUltimaCompra'
df3.select('AnoDeNascimento',
           'Escolaridade',
           'EstadoCivil',
           'DiasDaUltimaCompra'
           ).show(10)

+---------------+---------------+-------------+------------------+
|AnoDeNascimento|   Escolaridade|  EstadoCivil|DiasDaUltimaCompra|
+---------------+---------------+-------------+------------------+
|           1957|Ensino Superior|     Solteiro|                58|
|           1954|Ensino Superior|     Solteiro|                38|
|           1965|Ensino Superior|União Estável|                26|
|           1984|Ensino Superior|União Estável|                26|
|           1981|      Doutorado|       Casado|                94|
|           1967|       Mestrado|União Estável|                16|
|           1971|Ensino Superior|   Divorciado|                34|
|           1985|      Doutorado|       Casado|                32|
|           1974|      Doutorado|União Estável|                19|
|           1950|      Doutorado|União Estável|                68|
+---------------+---------------+-------------+------------------+
only showing top 10 rows

In [ ]:
#MOSTRAR COLUNAS ESPECIFICAS POR CLIENTE ('ID'), 'QntVinhos','QntFrutas','QntCarne','QntPeixe','QntDoces','QntOuro'
df3.select('ID',
           'QntVinhos',
           'QntFrutas',
           'QntCarne',
           'QntPeixe',
           'QntDoces',
           'QntOuro'
           ).show(10)

+----+---------+---------+--------+--------+--------+-------+
|  ID|QntVinhos|QntFrutas|QntCarne|QntPeixe|QntDoces|QntOuro|
+----+---------+---------+--------+--------+--------+-------+
|5524|      635|       88|     546|     172|      88|     88|
|2174|       11|        1|       6|       2|       1|      6|
|4141|      426|       49|     127|     111|      21|     42|
|6182|       11|        4|      20|      10|       3|      5|
|5324|      173|       43|     118|      46|      27|     15|
|7446|      520|       42|      98|       0|      42|     14|
| 965|      235|       65|     164|      50|      49|     27|
|6177|       76|       10|      56|       3|       1|     23|
|4855|       14|        0|      24|       3|       3|      2|
|5899|       28|        0|       6|       1|       1|     13|
+----+---------+---------+--------+--------+--------+-------+
only showing top 10 rows

In [ ]:
#SOMA TOTAL DAS COMPRAS POR TIPO DE PRODUTO
dfCompras = df3.agg(F.sum('QntVinhos').alias('TOTAL DE VINHOS COMPRADOS'),\
                    F.sum('QntFrutas').alias('TOTAL DE FRUTAS COMPRADAS'),\
                    F.sum('QntCarne').alias('TOTAL DE CARNE COMPRADAS'),\
                    F.sum('QntPeixe').alias('TOTAL DE PEIXE COMPRADOS'),\
                    F.sum('QntDoces').alias('TOTAL DE DOCES COMPRADOS'),\
                    F.sum('QntOuro').alias('TOTAL DE OURO COMPRADO'),\
                    )
dfCompras.show()

+-------------------------+-------------------------+------------------------+------------------------+------------------------+----------------------+
|TOTAL DE VINHOS COMPRADOS|TOTAL DE FRUTAS COMPRADAS|TOTAL DE CARNE COMPRADAS|TOTAL DE PEIXE COMPRADOS|TOTAL DE DOCES COMPRADOS|TOTAL DE OURO COMPRADO|
+-------------------------+-------------------------+------------------------+------------------------+------------------------+----------------------+
|                   680816|                    58917|                  373968|                   84057|                   60621|                 98609|
+-------------------------+-------------------------+------------------------+------------------------+------------------------+----------------------+

In [ ]:
#MÉDIA TOTAL DAS COMPRAS POR TIPO DE PRODUTO + MÉDIA DE IDADE DOS CLIENTES
dfMedias = df3.agg(F.round(2022 - F.mean('AnoDeNascimento')).cast(IntegerType()).alias('MEDIA DE IDADE DOS CLIENTES'),\
                   F.mean('QntVinhos').cast(IntegerType()).alias('MÉDIA DE VINHOS COMPRADOS'),\
                   F.mean('QntFrutas').cast(IntegerType()).alias('MÉDIA DE FRUTAS COMPRADAS'),\
                   F.mean('QntCarne').cast(IntegerType()).alias('MÉDIA DE CARNE COMPRADAS'),\
                   F.mean('QntPeixe').cast(IntegerType()).alias('MÉDIA DE PEIXE COMPRADOS'),\
                   F.mean('QntDoces').cast(IntegerType()).alias('MÉDIA DE DOCES COMPRADOS'),\
                   F.mean('QntOuro').cast(IntegerType()).alias('MÉDIA DE OURO COMPRADO'),\
                   )
dfMedias.show()

+---------------------------+-------------------------+-------------------------+------------------------+------------------------+------------------------+----------------------+
|MEDIA DE IDADE DOS CLIENTES|MÉDIA DE VINHOS COMPRADOS|MÉDIA DE FRUTAS COMPRADAS|MÉDIA DE CARNE COMPRADAS|MÉDIA DE PEIXE COMPRADOS|MÉDIA DE DOCES COMPRADOS|MÉDIA DE OURO COMPRADO|
+---------------------------+-------------------------+-------------------------+------------------------+------------------------+------------------------+----------------------+
|                         53|                      303|                       26|                     166|                      37|                      27|                    44|
+---------------------------+-------------------------+-------------------------+------------------------+------------------------+------------------------+----------------------+

In [ ]:
#SOMA TOTAL DAS COMPRAS EM OFERTA E LOCAL DE COMPRA
dflocalCompras = df3.agg(F.sum('ComprasEmOferta').alias('TOTAL DE COMPRAS EM OFERTA'),\
                         F.sum('ComprasPelaInternet').alias('TOTAL DE COMPRAS PELA INTERNET'),\
                         F.sum('ComprasPeloCatalogo').alias('TOTAL DE COMPRAS PELO CATALOGO'),\
                         F.sum('ComprasNaLoja').alias('TOTAL DE COMPRAS NA LOJA'),\
                         )
dflocalCompras.show()

+--------------------------+------------------------------+------------------------------+------------------------+
|TOTAL DE COMPRAS EM OFERTA|TOTAL DE COMPRAS PELA INTERNET|TOTAL DE COMPRAS PELO CATALOGO|TOTAL DE COMPRAS NA LOJA|
+--------------------------+------------------------------+------------------------------+------------------------+
|                      5208|                          9150|                          5963|                   12970|
+--------------------------+------------------------------+------------------------------+------------------------+

In [ ]:
#MÉDIA DAS COMPRAS EM OFERTA E LOCAL DE COMPRA POR CLIENTE
dfMEDlocalCompras = df3.agg(F.mean('ComprasEmOferta').cast(IntegerType()).alias('MÉDIA DE COMPRAS EM OFERTA'),\
                         F.mean('ComprasPelaInternet').cast(IntegerType()).alias('MÉDIA DE COMPRAS PELA INTERNET'),\
                         F.mean('ComprasPeloCatalogo').cast(IntegerType()).alias('MÉDIA DE COMPRAS PELO CATALOGO'),\
                         F.mean('ComprasNaLoja').cast(IntegerType()).alias('MÉDIA DE COMPRAS NA LOJA'),\
                         )
dfMEDlocalCompras.show()

+--------------------------+------------------------------+------------------------------+------------------------+
|MÉDIA DE COMPRAS EM OFERTA|MÉDIA DE COMPRAS PELA INTERNET|MÉDIA DE COMPRAS PELO CATALOGO|MÉDIA DE COMPRAS NA LOJA|
+--------------------------+------------------------------+------------------------------+------------------------+
|                         2|                             4|                             2|                       5|
+--------------------------+------------------------------+------------------------------+------------------------+

In [ ]:
#ADICIONANDO AS COLUNAS 'Idade', 'Dependentes', 'QntProdutosTotal', 'TotalDeCompras' 
df4 = df3.withColumn('Idade', 2022 - df3.AnoDeNascimento)\
         .withColumn('Dependentes', df3.CriançasEmCasa+df3.AdolescentesEmCasa)\
         .withColumn('QntProdutosTotal', df3.QntVinhos+df3.QntFrutas+df3.QntCarne+df3.QntPeixe+df3.QntDoces+df3.QntOuro)\
         .withColumn('TotalDeCompras',df3.ComprasPelaInternet+df3.ComprasPeloCatalogo+df3.ComprasNaLoja)
         
df4.show()

+----+---------------+------------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+
|  ID|AnoDeNascimento|      Escolaridade|  EstadoCivil|  Renda|CriançasEmCasa|AdolescentesEmCasa|DataDoCadastroDoCliente|DiasDaUltimaCompra|QntVinhos|QntFrutas|QntCarne|QntPeixe|QntDoces|QntOuro|ComprasEmOferta|ComprasPelaInternet|ComprasPeloCatalogo|ComprasNaLoja|VisitaPelaInternetNoMes|AceitouCampanha3|AceitouCampanha4|AceitouCampanha5|AceitouCampanha1|AceitouCampanha2|Reclamações|AceitouUltimaCampanha|Idade|Dependentes|QntProdutosTotal|TotalDeCompras|
+----+---------------+------------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+
|5524|           1957|   Ensino Superior|     Solteiro|58138.0|             0|                 0|    2012-04-09 00:00:00|                58|      635|       88|     546|     172|      88|     88|              3|                  8|                 10|            4|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   65|          0|            1617|            22|
|2174|           1954|   Ensino Superior|     Solteiro|46344.0|             1|                 1|    2014-08-03 00:00:00|                38|       11|        1|       6|       2|       1|      6|              2|                  1|                  1|            2|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   68|          2|              27|             4|
|4141|           1965|   Ensino Superior|União Estável|71613.0|             0|                 0|    2013-08-21 00:00:00|                26|      426|       49|     127|     111|      21|     42|              1|                  8|                  2|           10|                      4|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   57|          0|             776|            20|
|6182|           1984|   Ensino Superior|União Estável|26646.0|             1|                 0|    2014-10-02 00:00:00|                26|       11|        4|      20|      10|       3|      5|              2|                  2|                  0|            4|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   38|          1|              53|             6|
|5324|           1981|         Doutorado|       Casado|58293.0|             1|                 0|    2014-01-19 00:00:00|                94|      173|       43|     118|      46|      27|     15|              5|                  5|                  3|            6|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   41|          1|             422|            14|
|7446|           1967|          Mestrado|União Estável|62513.0|             0|                 1|    2013-09-09 00:00:00|                16|      520|       42|      98|       0|      42|     14|              2|                  6|                  4|           10|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   55|          1|             716|            20|
| 965|           1971|   Ensino Superior|   Divorciado|55635.0|             0|                 1|    2012-11-13 00:00:00|                34|      235|       65|     164|      50|      49|     27|              4|                  7|                  3|            7|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   51|          1|             590|            17|
|6177|           1985|         Doutorado|       Casado|33454.0|             1|                 0|    2013-08-05 00:00:00|                32|       76|       10|      56|       3|       1|     23|              2|                  4|                  0|            4|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   37|          1|             169|             8|
|4855|           1974|         Doutorado|União Estável|30351.0|             1|                 0|    2013-06-06 00:00:00|                19|       14|        0|      24|       3|       3|      2|              1|                  3|                  0|            2|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   48|          1|              46|             5|
|5899|           1950|         Doutorado|União Estável| 5648.0|             1|                 1|    2014-03-13 00:00:00|                68|       28|        0|       6|       1|       1|     13|              1|                  1|                  0|            0|                     20|             SIM|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   72|          2|              49|             1|
|1994|           1983|   Ensino Superior|       Casado|    NaN|             1|                 0|    2013-11-15 00:00:00|                11|        5|        5|       6|       0|       2|      1|              1|                  1|                  0|            2|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   39|          1|              19|             3|
| 387|           1976|Ensino Fundamental|       Casado| 7500.0|             0|                 0|    2012-11-13 00:00:00|                59|        6|       16|      11|      11|       1|     16|              1|                  2|                  0|            3|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   46|          0|              61|             5|
|2125|           1959|   Ensino Superior|   Divorciado|63033.0|             0|                 0|    2013-11-15 00:00:00|                82|      194|       61|     480|     225|     112|     30|              1|                  3|                  4|            8|                      2|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   63|          0|            1102|            15|
|8180|           1952|          Mestrado|   Divorciado|59354.0|             1|                 1|    2013-11-15 00:00:00|                53|      233|        2|      53|       3|       5|     14|              3|                  6|                  1|            5|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   70|          2|             310|            12|
|2569|           1987|   Ensino Superior|       Casado|17323.0|             0|                 0|    2012-10-10 00:00:00|                38|        3|       14|      17|       6|       1|      5|              1|                  1|                  0|            3|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   35|          0|              46|             4|
|2114|           1946|         Doutorado|     Solteiro|82800.0|             0|                 0|    2012-11-24 00:00:00|                23|     1006|       22|     115|      59|      68|     45|              1|                  7|                  6|           12|                      3|             NÃO|             NÃO|             SIM|             SIM|             NÃO|        NÃO|                  SIM|   76|          0|            1315|            25|
|9736|           1980|   Ensino Superior|       Casado|41850.0|             1|                 1|    2012-12-24 00:00:00|                51|       53|        5|      19|       2|      13|      4|              3|                  3|                  0|            3|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   42|          2|              96|             6|
|4939|           1946|   Ensino Superior|União Estável|37760.0|             0|                 0|    2012-08-31 00:00:00|                20|       84|        5|      38|     150|      12|     28|              2|                  4|                  1|            6|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   76|          0|             317|            11|
|6565|           1949|          Mestrado|       Casado|76995.0|             0|                 1|    2013-03-28 00:00:00|                91|     1012|       80|     498|       0|      16|    176|              2|                 11|                  4|            9|                      5|             NÃO|             NÃO|             NÃO|             SIM|             NÃO|        NÃO|                  NÃO|   73|          1|            1782|            24|
|2278|           1985|      Ensino Médio|     Solteiro|33812.0|             1|                 0|    2012-03-11 00:00:00|                86|        4|       17|      19|      30|      24|     39|              2|                  2|                  1|            3|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   37|          1|             133|             6|
+----+---------------+------------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+
only showing top 20 rows

WINDOW FUNCTIONS

In [ ]:
#CRIANDO UMA CÓPIA DO DF4 NO DF5
df5 = df4

In [ ]:
#CRIANDO UMA PARTIÇÃO
w0 = Window.partitionBy(F.col('Escolaridade')).orderBy('Renda')

In [ ]:
#USANDO A FUNÇÃO RANK
df5.withColumn('Rank', F.rank().over(w0)).show()

+-----+---------------+------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+----+
|   ID|AnoDeNascimento|Escolaridade|  EstadoCivil|  Renda|CriançasEmCasa|AdolescentesEmCasa|DataDoCadastroDoCliente|DiasDaUltimaCompra|QntVinhos|QntFrutas|QntCarne|QntPeixe|QntDoces|QntOuro|ComprasEmOferta|ComprasPelaInternet|ComprasPeloCatalogo|ComprasNaLoja|VisitaPelaInternetNoMes|AceitouCampanha3|AceitouCampanha4|AceitouCampanha5|AceitouCampanha1|AceitouCampanha2|Reclamações|AceitouUltimaCampanha|Idade|Dependentes|QntProdutosTotal|TotalDeCompras|Rank|
+-----+---------------+------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+----+
| 9931|           1963|   Doutorado|       Casado| 4023.0|             1|                 1|    2014-06-23 00:00:00|                29|        5|        0|       1|       1|       1|      1|             15|                  0|                  0|            0|                     19|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   59|          2|               9|             0|   1|
| 5899|           1950|   Doutorado|União Estável| 5648.0|             1|                 1|    2014-03-13 00:00:00|                68|       28|        0|       6|       1|       1|     13|              1|                  1|                  0|            0|                     20|             SIM|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   72|          2|              49|             1|   2|
| 4303|           1957|   Doutorado|União Estável| 6835.0|             0|                 1|    2012-08-12 00:00:00|                76|      107|        2|      12|       2|       2|     12|              0|                  0|                  0|            1|                     20|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   65|          1|             137|             1|   3|
| 6237|           1966|   Doutorado|     Solteiro| 7144.0|             0|                 2|    2013-07-12 00:00:00|                92|       81|        4|      33|       5|       2|    291|              0|                 23|                  1|            1|                      0|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   56|          2|             416|            25|   4|
| 5835|           1976|   Doutorado|   Divorciado|14849.0|             1|                 0|    2013-02-07 00:00:00|                39|       21|        2|      28|       3|       2|      9|              3|                  2|                  0|            4|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   46|          1|              65|             6|   5|
|11010|           1984|   Doutorado|     Solteiro|16269.0|             1|                 0|    2013-08-30 00:00:00|                75|       19|        3|      18|       3|       1|      0|              3|                  3|                  0|            3|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   38|          1|              44|             6|   6|
|10031|           1976|   Doutorado|       Casado|16927.0|             1|                 1|    2013-10-02 00:00:00|                50|       20|        2|      23|       3|       1|      4|              5|                  3|                  0|            4|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   46|          2|              53|             7|   7|
|10790|           1985|   Doutorado|       Casado|18169.0|             1|                 0|    2013-02-19 00:00:00|                40|        9|        0|       5|       0|       0|      7|              1|                  1|                  0|            2|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   37|          1|              21|             3|   8|
| 4329|           1984|   Doutorado|       Casado|18988.0|             1|                 0|    2014-05-23 00:00:00|                43|        6|        0|       6|       2|       1|      1|              2|                  1|                  0|            3|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   38|          1|              16|             4|   9|
| 4298|           1973|   Doutorado|União Estável|20427.0|             1|                 0|    2014-03-24 00:00:00|                63|        5|        0|       4|       0|       0|      1|              1|                  1|                  0|            2|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   49|          1|              10|             3|  10|
| 2549|           1983|   Doutorado|União Estável|21840.0|             1|                 0|    2013-07-21 00:00:00|                80|       17|        0|       9|       0|       0|      1|              1|                  1|                  0|            3|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   39|          1|              27|             4|  11|
| 2156|           1955|   Doutorado|       Casado|22554.0|             1|                 1|    2012-03-11 00:00:00|                38|       27|        0|      10|       0|       0|      4|              4|                  2|                  0|            4|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   67|          2|              41|             6|  12|
|  213|           1963|   Doutorado|     Solteiro|23091.0|             1|                 1|    2014-05-28 00:00:00|                98|       35|        0|      11|       0|       0|      2|              4|                  2|                  1|            3|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   59|          2|              48|             6|  13|
| 7788|           1983|   Doutorado|       Casado|23536.0|             1|                 0|    2014-04-06 00:00:00|                53|        6|        0|       3|       0|       0|      1|              1|                  0|                  0|            3|                      3|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   39|          1|              10|             3|  14|
| 2230|           1970|   Doutorado|       Casado|23626.0|             1|                 0|    2014-05-24 00:00:00|                84|       27|        2|      14|       0|       0|      0|              3|                  3|                  1|            3|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   52|          1|              43|             7|  15|
|   13|           1947|   Doutorado|        Viúvo|25358.0|             0|                 1|    2013-07-22 00:00:00|                57|       19|        0|       5|       0|       0|      8|              2|                  1|                  0|            3|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   75|          1|              32|             4|  16|
| 5093|           1974|   Doutorado|   Divorciado|25509.0|             1|                 0|    2012-09-18 00:00:00|                15|       40|        3|      30|      10|       7|     11|              3|                  3|                  0|            3|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   48|          1|             101|             6|  17|
| 8524|           1974|   Doutorado|   Divorciado|25509.0|             1|                 0|    2012-09-18 00:00:00|                15|       40|        3|      30|      10|       7|     11|              3|                  3|                  0|            3|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   48|          1|             101|             6|  17|
| 2868|           1949|   Doutorado|     Solteiro|26518.0|             1|                 1|    2013-08-04 00:00:00|                33|       20|        1|      28|       3|       3|      2|              3|                  2|                  0|            3|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   73|          2|              57|             5|  19|
| 3286|           1967|   Doutorado|   Divorciado|26642.0|             1|                 0|    2014-01-03 00:00:00|                71|       13|        2|      15|       2|       2|      8|              2|                  2|                  0|            3|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   55|          1|              42|             5|  20|
+-----+---------------+------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+----+
only showing top 20 rows

In [ ]:
#USANDO A FUNÇÃO 'DENSE_RANK' QUE FAZ O RANQUEAMENTO ENTRE TODOS OS DEPARTAMENTOS
df5.withColumn('dense_rank', F.dense_rank().over(w0)).show()

+-----+---------------+------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+----------+
|   ID|AnoDeNascimento|Escolaridade|  EstadoCivil|  Renda|CriançasEmCasa|AdolescentesEmCasa|DataDoCadastroDoCliente|DiasDaUltimaCompra|QntVinhos|QntFrutas|QntCarne|QntPeixe|QntDoces|QntOuro|ComprasEmOferta|ComprasPelaInternet|ComprasPeloCatalogo|ComprasNaLoja|VisitaPelaInternetNoMes|AceitouCampanha3|AceitouCampanha4|AceitouCampanha5|AceitouCampanha1|AceitouCampanha2|Reclamações|AceitouUltimaCampanha|Idade|Dependentes|QntProdutosTotal|TotalDeCompras|dense_rank|
+-----+---------------+------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+----------+
| 9931|           1963|   Doutorado|       Casado| 4023.0|             1|                 1|    2014-06-23 00:00:00|                29|        5|        0|       1|       1|       1|      1|             15|                  0|                  0|            0|                     19|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   59|          2|               9|             0|         1|
| 5899|           1950|   Doutorado|União Estável| 5648.0|             1|                 1|    2014-03-13 00:00:00|                68|       28|        0|       6|       1|       1|     13|              1|                  1|                  0|            0|                     20|             SIM|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   72|          2|              49|             1|         2|
| 4303|           1957|   Doutorado|União Estável| 6835.0|             0|                 1|    2012-08-12 00:00:00|                76|      107|        2|      12|       2|       2|     12|              0|                  0|                  0|            1|                     20|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   65|          1|             137|             1|         3|
| 6237|           1966|   Doutorado|     Solteiro| 7144.0|             0|                 2|    2013-07-12 00:00:00|                92|       81|        4|      33|       5|       2|    291|              0|                 23|                  1|            1|                      0|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   56|          2|             416|            25|         4|
| 5835|           1976|   Doutorado|   Divorciado|14849.0|             1|                 0|    2013-02-07 00:00:00|                39|       21|        2|      28|       3|       2|      9|              3|                  2|                  0|            4|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   46|          1|              65|             6|         5|
|11010|           1984|   Doutorado|     Solteiro|16269.0|             1|                 0|    2013-08-30 00:00:00|                75|       19|        3|      18|       3|       1|      0|              3|                  3|                  0|            3|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   38|          1|              44|             6|         6|
|10031|           1976|   Doutorado|       Casado|16927.0|             1|                 1|    2013-10-02 00:00:00|                50|       20|        2|      23|       3|       1|      4|              5|                  3|                  0|            4|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   46|          2|              53|             7|         7|
|10790|           1985|   Doutorado|       Casado|18169.0|             1|                 0|    2013-02-19 00:00:00|                40|        9|        0|       5|       0|       0|      7|              1|                  1|                  0|            2|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   37|          1|              21|             3|         8|
| 4329|           1984|   Doutorado|       Casado|18988.0|             1|                 0|    2014-05-23 00:00:00|                43|        6|        0|       6|       2|       1|      1|              2|                  1|                  0|            3|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   38|          1|              16|             4|         9|
| 4298|           1973|   Doutorado|União Estável|20427.0|             1|                 0|    2014-03-24 00:00:00|                63|        5|        0|       4|       0|       0|      1|              1|                  1|                  0|            2|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   49|          1|              10|             3|        10|
| 2549|           1983|   Doutorado|União Estável|21840.0|             1|                 0|    2013-07-21 00:00:00|                80|       17|        0|       9|       0|       0|      1|              1|                  1|                  0|            3|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   39|          1|              27|             4|        11|
| 2156|           1955|   Doutorado|       Casado|22554.0|             1|                 1|    2012-03-11 00:00:00|                38|       27|        0|      10|       0|       0|      4|              4|                  2|                  0|            4|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   67|          2|              41|             6|        12|
|  213|           1963|   Doutorado|     Solteiro|23091.0|             1|                 1|    2014-05-28 00:00:00|                98|       35|        0|      11|       0|       0|      2|              4|                  2|                  1|            3|                      7|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   59|          2|              48|             6|        13|
| 7788|           1983|   Doutorado|       Casado|23536.0|             1|                 0|    2014-04-06 00:00:00|                53|        6|        0|       3|       0|       0|      1|              1|                  0|                  0|            3|                      3|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   39|          1|              10|             3|        14|
| 2230|           1970|   Doutorado|       Casado|23626.0|             1|                 0|    2014-05-24 00:00:00|                84|       27|        2|      14|       0|       0|      0|              3|                  3|                  1|            3|                      5|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   52|          1|              43|             7|        15|
|   13|           1947|   Doutorado|        Viúvo|25358.0|             0|                 1|    2013-07-22 00:00:00|                57|       19|        0|       5|       0|       0|      8|              2|                  1|                  0|            3|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   75|          1|              32|             4|        16|
| 5093|           1974|   Doutorado|   Divorciado|25509.0|             1|                 0|    2012-09-18 00:00:00|                15|       40|        3|      30|      10|       7|     11|              3|                  3|                  0|            3|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   48|          1|             101|             6|        17|
| 8524|           1974|   Doutorado|   Divorciado|25509.0|             1|                 0|    2012-09-18 00:00:00|                15|       40|        3|      30|      10|       7|     11|              3|                  3|                  0|            3|                      9|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   48|          1|             101|             6|        17|
| 2868|           1949|   Doutorado|     Solteiro|26518.0|             1|                 1|    2013-08-04 00:00:00|                33|       20|        1|      28|       3|       3|      2|              3|                  2|                  0|            3|                      8|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  SIM|   73|          2|              57|             5|        18|
| 3286|           1967|   Doutorado|   Divorciado|26642.0|             1|                 0|    2014-01-03 00:00:00|                71|       13|        2|      15|       2|       2|      8|              2|                  2|                  0|            3|                      6|             NÃO|             NÃO|             NÃO|             NÃO|             NÃO|        NÃO|                  NÃO|   55|          1|              42|             5|        19|
+-----+---------------+------------+-------------+-------+--------------+------------------+-----------------------+------------------+---------+---------+--------+--------+--------+-------+---------------+-------------------+-------------------+-------------+-----------------------+----------------+----------------+----------------+----------------+----------------+-----------+---------------------+-----+-----------+----------------+--------------+----------+
only showing top 20 rows

In [ ]:
#CONVERTENDO PARA PANDAS PARA SUBIR PARA O MONGO
dfP = df5.toPandas()

#Carregamento

<font color=cyan>ENVIANDO COPIA DO QUE FOI TRATADO PARA O MONGO
- As três celulas abaixo estão comentadas para evitar que o banco seja duplicado

In [ ]:
#CARREGANDO ARQUIVO PARA O MONGO

In [ ]:
#

In [ ]:
#

2240